---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
// Our variables
$base-font-family: "Roboto", Helvetica, Arial, sans-serif;
$header-font-family:"Roboto", Helvetica, Arial, sans serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$base-font-weight: normal;

$spacing-unit:     30px;

$red:#F44336;
$pink:#E91E63;
$purple:#9C27B0;
$darkpurple:#673AB7;
$darkblue:#3F51B5;
$blue:#2196F3;
$lightblue:#03A9F4;
$aqua:#00BCD4;
$teal:#009688;
$green:#1ad980;
$olive:#8BC34A;
$lightgreen:#CDDC39;
$lightyellow:#FFEB3B;
$yellow:#FFC107;
$gold:#FF9800;
$orange:#FF5722;
$brown:#795548;
$grey:#9E9E9E;
$steel:#607D8B;
$black:#222222;
$white:#fafafa;
$midnight:#384452;

$primary-color:		$red;
$text-color:       $midnight;
$background-color: #f4f4f4;
$brand-color:      $red;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$menuColor:$red;
$headerColor:#37474F;
$blogPostColor: #37474F;
$socialColor:$red;

// Width of the content area
$content-width:    940px;

$on-palm:          600px;
$on-laptop:        800px;




/****** MIXINS ********/


/**FLEXBOX**/
@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-direction($val) {
  -webkit-flex-direction: $val;
  -ms-flex-direction: $val;
  -moz-flex-direction: $val;
  flex-direction: $val;

}

@mixin align-items($aVal) {
  -webkit-align-items: $aVal;
  -ms-align-items: $aVal;
  -moz-align-items: $aVal;
  align-items: $aVal;

}

@mixin justify-content($bVal){
  -webkit-justify-content: $bVal;
  -ms-justify-content: $bVal;
  -moz-justify-content: $bVal;
  justify-content: $bVal;

}

@mixin order($cVal) {
  -webkit-box-ordinal-group: $cVal;  
  -moz-box-ordinal-group: $cVal;     
  -ms-flex-order: $cVal;     
  -webkit-order: $cVal;  
  order: $cVal;
}

@mixin align-self($dVal) {
  -webkit-align-self: $dVal;
  -ms-align-self: $dVal;
  -moz-align-self: $dVal;
  align-self: $dVal;

}

@mixin flex-wrap($eVal) {
  -webkit-flex-wrap: $eVal;
  -ms-flex-wrap: $eVal;
  -moz-flex-wrap: $eVal;
  flex-wrap: $eVal;
}




/*** SHADOWS ***/

@mixin bigShadow {
box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.12), 0px 4px 4px 0px rgba(0,0,0,0.24);
}
@mixin smallShadow {
box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
}
@mixin linkShadow {
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);
}



/*** ANIMATION ***/

@mixin menu-animation {
  transition: margin-right .8s ease-in-out;
    &:hover{
      margin-right:2%;
  }
}




// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}






// Import partials from `sass_dir` (defaults to `_sass`)

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500,100|Press+Start+2P);

@import
        "base",
        "layout",
        "home-page",
        "mixins",
        "blog",
        "art",
        "library",
        "variables",
        "animations"
        

;
