---
layout: home-page
---

<div class="home">
<div class="wrapper">
    <div class="home-content">
      <div class="home-blurb">
      <!-- About Blurb: Images of Josh (Pixel|Normal|Poly) and a brief blurb about me -->
      <span><img class="portrait" src="/assets/img/josh-tregenza-pixelised.jpg">
      <img class="portrait" src="/assets/img/josh-tregenza.jpeg">
      <img class="portrait" src="/assets/img/josh-tregenza-triangulated-image.png"></span>
      {% include about-blurb.html  %}
      </div>
      <div class="home-blog">
        <h2>Writing</h2>
          <div class="heading-line"></div>
        <ul class="post-list">
          {% for post in site.posts limit:3 %}
            <li>
              <h4>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><img src="{{post.image}}" class="card-img">
              </h4> 
              <div class="blog-excerpt">{{ post.content | truncatewords: 15 }}</div>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
              
            </li>
          {% endfor %}
        </ul>
        <!-- Blog Preview: show three most recent blog posts and then display button to read more -->
        <a href="/writing/" class="home-blog-button">More Writing&#8230;</a> 
      </div>

<!-- Case Studies are in progress -->
<!--       <div class="home-case-studies">
        <h2>Case Studies</h2>
        <div class="heading-line"></div>
        Case Study Preview: show three most recent case studies posts and then display button to read more
        <a href="#" class="home-case-button">More Case Studies&#8230;</a> 
      </div> -->

      <div class="home-art">
     
        <h2>Latest Art</h2>
        <div class="heading-line"></div>
        <ul class="art-list">
        {% assign site.art = collection.art | sort: 'date' %}
          {% for page in site.art limit:3 %}
            <li>
              <a href="{{ page.url | prepend: site.baseurl }}"><img src="{{ page.image }}" alt="{{page.title}} | Josh Tregenza">
              </a>
            </li>
          {% endfor %}
        </ul>
        <!-- Art Preview: show three most recent art works that I have made and then display button to read more -->
        <a href="/portfolio/" class="home-art-button">More Art Pieces&#8230;</a> 
      </div>
    </div>
    <span class="contact">Want to get into contact? Email me at <h3><a href="mailto:josh@joshtregenza.com">josh@joshtregenza.com</a></h3></span>
</div>
</div>
