---
layout: page
title: Portfolio
---
<!-- <ul class="post-list case-studies">
          {% for page in site.case_studies %}
            <li>
            <div class="case-study">
                <img src="{{page.image}}" class="card-img">
                <div class="case-info">
                  <h4>
                    <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                  </h4> 
                  <div class="blog-excerpt">{{ page.content | truncatewords: 15 }}</div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul> -->

               <ul class="post-list projects">
          {% for page in site.projects %}
            <li>
            <img src="{{page.thumb}}" class="card-img">
              <h4>
                <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
              </h4>        
            </li>
          {% endfor %}
        </ul>