I did a lot of things before becoming an designer, took the hits, kept moving forward and have been building things with people ever since.
I've been working as a contracted entity for small businesses to help them find greater opportunities on the web. <br/>
Based in Australia, doing the immigration process to relocate to America. <br/>
I like to write about my experiences, random thoughts and about food, life.
<br/>
I make pixel art and low poly to explore the art forms and prepare for AR and VR design.  
<br/>
I'm a designer that codes up the projects and knows his way around content strategy. As a contractor, I deep dive into the industries of the businesses I work with, to give them the best outcomes, that we both can accomplish.  


