<p>I did a lot of things before becoming an designer, took the hits, kept moving forward and have been building things with people ever since.</p>
<p>I've been working as freelance contractor with small businesses, helping them grow in the digital landscape. </p>
<p>Based in Australia, doing the immigration process to relocate to America. </p>
<p>I like to write about my experiences, random thoughts and about food, life.
</p>
<p>I make pixel art and low poly to explore the art forms and prepare for AR and VR design.  
</p>
<p>I did a lot of things before I became a designer. It was hard but I took the hits, I kept moving forward and have been building things with people ever since.</p> 
<p>I am a freelance contractor and I work with small businesses, creating and growing their presence in the ever expanding digital landscape.  </p> 


