<footer>

 
  <ul class="social-media-things">
    {% include designer_svg.html %}
  <li><a href="https://twitter.com/JoshTregenza"><span class="socicon">a</span></a></li><!-- Twitter-->
   <li><a href="https://instagram.com/josh_tregenza/"><span class="socicon">x</span></a></li><!-- Instagram-->
   <li><a href="https://github.com/jtregenza"><span class="socicon">Q</span></a></li><!-- Github-->
   <li><a href="https://dribbble.com/JTreg"><span class="socicon">D</span></a></li><!-- Dribbble-->
   <!--<li><a href="#twitch"><span class="socicon">{</span></a></li>
   		<li><a href="#steam"><span class="socicon">X</span></a></li>-->
   		</ul>
    <!--If you are looking for my facebook, I really only use it for Messenger, but you can find it by searching Josh Tregenza.-->
</footer>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="/assets/scripts/jribbble.js"></script>