<footer class="group">
    <div class="footer">
      <div class="footer_links">
        <a href="/index.html" class="footer_logo"><img src="/assets/img/josh_tregenza-logoWhite.png"/></a>

        <div class="footer_socialMedia">
          <a href="https://twitter.com/{{site.twitter_username}}" target="_blank" class="footer_logo"><img src="/assets/img/icn-twitter-intro.png"/></a>
          <a href="http://instagram.com/josh_tregenza" target="_blank" class="footer_logo"><img src="/assets/img/icn-instagram-intro.png"/></a>
          <a href="https://dribbble.com/JTreg" target="_blank" class="footer_logo"><img src="/assets/img/icn-dribbble-intro.png"/></a>
        </div>
      </div>
    </div>

    <script src="
    /assets/background-gradients.js" type="text/javascript"></script>
  </footer>