<footer>
  {% include designer_svg.html %}
 
  <ul class="social-media-things">
  <li><a href="#twitter"><img src="#" alt="my twitter is @joshtregenza"/></a></li>
   <li><a href="#insta"><img src="#" alt="my instagram is @joshtregenza"/></a></li>
   <li><a href="#github"><img src="#" alt="my github is jtregenza"/></a></li>
   <li><a href="#dribbble"><img src="#" alt="my dribbble is joshtregenza"/></a></li>
    <!--If you are looking for my facebook, I really only use it for Messenger, but you can find it by searching Josh Tregenza.-->
</footer>