<header id="islands" class="home-header" role="banner">
		<script type="text/javascript" src="/assets/scripts/slider.js"></script>
	<div class="splash">
		{%- assign default_paths = site.pages | map: "path" -%}
		{%- assign page_paths = site.header_pages | default: default_paths -%}
		<article class="site-logo">

		</article>

		<p class="display">Josh Tregenza</p>
		<div class="floating-archipelago">
			<img src="{{ '/assets/img/island-full-rubble-2.png' | asset_img_url: '' }}"/>
			<img src="{{ '/assets/img/island-full-rubble.png' | asset_img_url: '' }}"/>
			<img src="{{ '/assets/img/island-full-3.png' | asset_img_url: '' }}"/>
			<img src="{{ '/assets/img/island-full-2.png' | asset_img_url: '' }}"/>
			<img src="{{ '/assets/img/island-full.png' | asset_img_url: '' }}"/>
		</div>
	</div>
</header>
