.articles {
    > li {
        @include align-items(center);
        @include justify-content(center);
        padding: 40px;
        background-color:whitesmoke;
        margin-bottom:0px;
        color:#384452;
            &:nth-child(2n+1){
                background:#D8D8D8;
            }
            a {
                color:#384452;
            }
        }
        .post-meta {
            font-size: 1.2em;
            font-weight:600;
            letter-spacing: 1.3px;
            text-transform: uppercase;
            color: $grey-color;
            -ms-transform: rotate(-90deg); /* IE 9 */
            -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
            transform: rotate(-90deg);
            @include media-query($on-palm) {
                display:none
            }
    }
}


.post-pagination {
    @include flexbox;
    @include justify-content(space-between);
    @include media-query($on-palm) {
        @include flex-direction(column);
    }
    a{
        color:$grey-color;
        font-size:$small-font-size;
    }
    .next-link {
        margin-left:auto;
        @include media-query($on-palm) {
              margin-top:1em;  
    }
    }
}

.post {
    .post-meta {
        color:$grey-color;
    }
}

    .post-article {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
        max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
        margin-right:auto;
        margin-left:auto;
    }

.wrapper > .post {
    width:100%;
}

.page-content > .wrapper {
    max-width:100%;
    padding:0;
}

