.blog {
	background-color:$green;
}

.post-meta {
	color:$green;
}


.post-header{
	@include flexbox;
	@include justify-content(space-between);
	@include media-query($on-laptop) {
		@include flex-direction(column);
		@include justify-content(center);
	}
}

.post-content{
	p>img {
		padding:0.5em;
		@include smallShadow;
		&:first-child {
		float:right;
		margin-left:1.5em;
		}
		&:nth-child(n+2) {
			float:left;
			margin-right:1.5em;
		}

	}
}

.post-pagination {
	@include flexbox;
	@include justify-content(space-between);
	.next-link {
		margin-left:auto;
	}
}
