.home-bio .wrapper {
    p {
        margin: 1em 0;
        padding:0 1em;
        text-align:justify;
        }
}

.home-bio, .home-blog, .blog, .portfolio, .wrapper, .home-content  {
    @include media-query($on-desk) {
        max-width:61.250em;
        margin: 0 auto;
        display: block;
        padding: 0 0.8em;
    } 
}





.about-josh p {
    float:right;
    width:100%;
    margin-left:2em;
    @include clearfix;
@include media-query($on-desk) {
    width: 80%;
    margin-left:3em;
}
}

img[src="/assets/img/josh_portrait.png"] {
    @include border-radius(100%);
    border:10px solid $menuColor;
    width:60%;
    margin:0 auto;
    @include media-query($on-desk) {
        width:100%;
    }

}

