/* Home Page - coming soon*/
body{

	@include flexbox;
    @include justify-content(center);
    @include flex-direction(column);
    @include align-items(center);

	font-family:"Open Sans", sans-serif; 
	font-size:16px;
	background-color:#fafafa;

}
html, body {
	height:100%;
}

.byline {
	margin-top:1em;
	color: #4A4A4A; 
	letter-spacing: 1.25;
}

a.email {
	color: #FE5358;
	transition: 0.3s ease-in;
}

a.email:hover {
	color: #1AD980;
}

.svg-background {
	transition:0.7s ease-in-out;
}
.svg-background:hover {
	fill: #384452;
}

/*end coming soon code*/



.splash {
		background-image:url('../assets/img/desk-wip3.png');
		width:100%;
		background-size:cover;
		position:relative;
		height:100vh;
		@include flexbox;
		@include flex-direction(column);
		@include align-items(center);
		@include justify-content(space-between);
		.site-menu {
			@include flexbox;
			@include flex-direction(column);
			width:100%;
		}
}

.home--billboard {
	@include flexbox;
	@include flex-direction(column);
	@include align-items(center);
	@include justify-content(space-around);
	width:16.25em;
	background-color: rgba(250,250,250,0.8) ;
	border-radius:5px;
	border:5px solid $midnight;
	box-shadow:0 0 0 5px rgba(250,250,250,0.8),
	0px 0px 4px 0px rgba(0,0,0,0.12),
	0px 4px 4px 0px rgba(0,0,0,0.24);
	padding:2.5em 0.5em;
	box-sizing: border-box;
	text-align:center;
	font-family: Helvetica, Arial, sans-serif;
	color:$midnight;
	min-height: 335px;
	h1{
		font-size:2rem;
		margin-bottom:0.8em;
		font-weight: lighter;
	}
	p {
		line-height: 1.4;
		margin:1em 0;
	}
	.jt-logo {
		svg {
			height:49px;
			path { 
				fill: $midnight;
			}
		}

	}
}

.menu {
	-webkit-appearance:none;
	background-color:$midnight;
	color:$white;
	border:none;
	font-size:1em;
	padding:0.5em 1.2em;
	@include align-self(flex-end);
	margin-right:1em;
	margin-top:1em;
	font-family:"Press Start 2P", Helvetica, Arial, sans-serif;
	@include bigShadow;
	cursor: pointer;
	&:hover{
		color:lighten($midnight, 45%);
		text-decoration:none;

	}
}

.header-lines {
	border-top:4px solid $midnight;
	border-bottom:4px solid $red;
	height:0.2em;
}

.get-down-button {
	color:rgba(255, 255, 255, 0.7);
	// text-shadow:0 0 1px $white;
	padding-bottom:0.4em;
	animation: pulse 1s ease-in-out 10s 3 ;
	font-weight:light;
	letter-spacing: 0.5em ;
}

.home-blog, .home-case-studies, .home-art {
	margin:2em 1em;
	@include flexbox;
    @include flex-direction(column);
	// h2 {
	// 	font-weight:bold;
	// 	letter-spacing: 1px;
	// 	margin-bottom:0.25em;
	// 	text-transform:uppercase;
	// }
	h2 {
		font-weight:bold;
		letter-spacing: 1px;
		margin-bottom:0.25em;
		// text-transform:uppercase;
	}
	h4 {
		text-transform: uppercase;
		margin-bottom:0.25em;
	}
	.heading-line {
		background-color:$green;
	}
	.post-meta{
		color:$green;
	}
	.blog-excerpt{
		p{
			margin-bottom:0.25em;
		}
	}
}

.post-list {
	@include flexbox;
	@include flex-direction(row);
	@include align-items(center);
	@include flex-wrap(wrap);
	  @include media-query($on-laptop) {
	  	@include flex-direction(column);
	  }
	li {
		width:15em;
		margin:1em 1.25em;
		@include flexbox;
		@include flex-direction(column);
		h4 {
			@include flexbox;
			@include justify-content(space-between);
			@include align-items(center);
			a {
				width:40%;

			}
		}
	}
	margin:1em auto;
	width:100%;
}

.card-img {
	width:100px;
	height:100px;
}

.heading-line {
	height:0.25em;
	background-color:$midnight;
	width:12.5em;
	margin-left:2em;
	margin-bottom:0.5em;
}


.home-blog, .home-case-studies, .home-art {
	h2 {
		font-weight:bold;
		letter-spacing: 1px;
		margin-bottom:0.25em;
		// text-transform:uppercase;
	}
}

.home-case-studies {
	.heading-line {
	background-color:$red;
	}
}
.home-art {
	.heading-line {
	background-color:$yellow;
	}
}


.home-blog-button, .home-case-button, .home-art-button {
	@include align-self(center);
	color:$white;
	font-family:"Press Start 2P", Helvetica, Arial, sans-serif;
	padding:0.5em 1.2em;
	margin:0 auto;
	text-transform:uppercase;
	transition:all 0.2s ease-out;
	text-align:center;
	&:hover{
		color:$white;
		@include bigShadow;
	}
	&:visited {
		color:$white;
	}
}

.home-blog-button {
	background-color:$green;
}

.home-case-button{
	background-color:$red;
	
}

.home-art-button {
	background-color:$yellow;
	
}

.contact{
	@include flexbox;
	@include justify-content(center);
	@include flex-direction(column);
	@include align-items(center);
}


.home-blurb{
	margin:1em auto;
	span{
		@include flexbox;
		@include flex-direction(row);
		@include justify-content(space-around);
		margin-bottom:1em;
	}
	p{
		width:70%;
		margin:0 auto;
		@include media-query($on-laptop) {
			width:95%;
		}
	}
}

.portrait {
	width:11em;
	border:0.5em solid $yellow;
	height:100%;
	&:nth-child(1){
		border-color:$red;
		@include media-query($on-laptop) {
			display:none;
		}
	}
	&:nth-child(3){
		border-color:$green;
			@include media-query($on-laptop) {
			display:none;
			}
	}
}


