


/******GENERAL******/
* {
    box-sizing:border-box;
}
body{
    font-size: $base-font-size;
    background-color:#FEFEFE;
    @include transition(all 1s ease);
}

.site-header, body, footer {
    max-width: 100%;
    margin: 0 auto;
}

.site-header {
    margin-bottom:2em;
        @include media-query($on-desk) {
            margin-bottom: 0;
    }   
            img{
                width:70%;
                max-width:340px;
                max-height:340px;
                margin-left:auto;
                margin-right:-1em;
                margin-top:-8em;
                margin-bottom:-3em;
                float:right;
        }
    @include media-query($on-desk) {
        max-width: 100%;
        width: 100%;
        img{
            margin-left:auto;
            margin-top:-1em;
            margin-bottom:-16em;
        }
    }

}


body, footer{
    @include media-query($on-desk) {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }
}


/******FONTS******/
.nav, h1, h2, h3, blockquote, .home-contact a, .home-contact p {
font-family: $header-font-family;
color:$headerColor;
}

p{
font-family: $base-font-family;
line-height:1.5;
padding:0.2em 0.8em;
    &:last-child{
        padding-bottom:0.5em;
    }
    &:first-child{
        padding-top:0.5em;
    }
    @include media-query($on-bigmobile){
        margin:1em 2em;
        }


}

h1, h2, h3{
font-weight: 700;
color:$headerColor;
margin-left:5px;

}

h1{
    font-size:1.5em;
    margin:1em 0;
    @include media-query($on-bigmobile){
        font-size:1.875em;
        width:75%;
        line-height: 1.3em;
    }

}

h2 {
    font-size:1.6em;
    font-weight:300;
}


blockquote {
font-weight: 700;
    
}

.home-contact a, .home-contact p {
    color:#ddd;
    font-size: 0.8rem;

}

a{
    &:hover{
        color: #888;
    }
    text-decoration: none;
    font-weight: 600;
    color:#4A4A4A;
}


@font-face {
    font-family: 'socicon';
    src: url('../assets/font/socicon.eot');
    src: url('../assets/font/socicon.eot?#iefix') format('embedded-opentype'),
         url('../assets/font/socicon.woff') format('woff'),
         url('../assets/font/socicon.ttf') format('truetype'),
         url('../assets/font/socicon.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

/******HEADING******/

.logo {
    min-width: 300px;
    width: 30%;
    display: block;
    margin:0 auto;
    padding-top: 2px;
    @include media-query($on-desk){
        max-width: 25em;
    }

}

header {
    @include bigShadow;
    background:$menuColor;
}
.nav {
    display: flex;
    flex-direction: column;
    @include media-query($on-desk) {
        flex-direction: row;
        width:80%;
    }
    list-style-type: none;
    margin:0 auto;
    padding:0.5rem;
    li{
        margin:0.5em 1.25em;
         @include media-query($on-desk) {
        align-self:center;
    }
        a{
          color:#fafafa;
          font-size:1.25em;
          font-weight:300; 
        }
    }
        }

/********FOOTER********/

footer {
    
}

@include media-query($on-desk) {
    .footer_links {
        width:1006px;
        margin:0 auto;
    }
}
.footer {
    margin:0 auto;
}

footer svg {
@include media-query($on-desk) {
    width:7%;
}
    height: 50px;

}


.socicon {
    font-family: 'socicon' !important;
    a:hover{
        background-color:$socialColor;
        border-raidus:100%;
    }
}

.social-media-things {
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align:center;
    svg {
        margin:0 auto;
        @include media-query($on-desk) {
            margin: 0 ;
        margin-right:auto;
    }
    }
    @include media-query($on-desk) {
        flex-direction: row;
    }
    list-style-type: none;
    margin:0 auto;
    padding:1.25rem;
    li{
        margin:0.5em 1.25em;
        a{
          font-size:1.25em;
        }
    }
        }



/*****ANIMATION******/

/******COMPUTER BLINK*******/

.rationale p:after, blockquote:after {
    content:"|";
    -webkit-animation: blink_text 0.9s infinite; /* Chrome, Safari, Opera */
    animation: blink_text 0.9s  infinite;
}

@-webkit-keyframes blink_text {
    /*0% {color:$primary-color;}
    100%{color:#ddd;}*/
    0% {opacity:0;}
    100%{opacity:1;}
}
@keyframes blink_text {
    /*0% {color:$primary-color;}
    100%{color:#ddd;}*/
     0% {opacity:0;}
    100%{opacity:1;}
}


/*******BUILDINGS RISING********/

.site-header {
    -webkit-animation: build_rise 7s ease-in; /* Chrome, Safari, Opera */
    animation: build_rise 7s  ease-in;

}

@-webkit-keyframes build_rise {
    /*0% {color:$primary-color;}
    100%{color:#ddd;}*/
    0% {background-position-y: 400px;}
    100%{background-position-y: 0;}
}
@keyframes build_rise {
    /*0% {color:$primary-color;}
    100%{color:#ddd;}*/
    0% {background-position-y: 400px;}
    100%{background-position-y: 0;}
}


/******CLEARFIX******/

.group:after {
    content: " ";
    display: table;
    clear:both;
}

.group:before {
    content: " ";
    display: table;
    clear:both;
}



/*** TESTING CODE ****/


