/**
 * Site header
 */
.site-header {
    // border-top: 5px solid $grey-color-dark;
    // border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    background-image:url('../assets/img/desk-wip3.png');
    background-position: 30% 15%;
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);

    // Positioning context for the mobile navigation icon
    position: relative;
    .wrapper {
        margin:0;
    }
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-top:0.2em;
    margin-bottom: 0;
    float: left;

    // &,
    // &:visited {
    //     color: $grey-color-dark;
    // }
    > svg {
        width: 2em;
        height: 2em;

        path {
            fill: $white;
            }
        }
} 

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    // @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        // background-color: $background-color;
        // border: 1px solid $grey-color-light;
        // border-radius: 5px;
        text-align: right;
    background-color:$midnight;
    color:$white;
    border:none;
    font-size:1em;

    @include align-self(flex-end);
    // margin-right:1em;
    // margin-top:1em;
    font-family:"Press Start 2P", Helvetica, Arial, sans-serif;
    @include bigShadow;
    cursor: pointer;

        .menu-icon {
            display: block;
            float: right;
            // width: 36px;
            // height: 26px;
            line-height: 1.5;
            // padding-top: 10px;
            text-align: center;
            padding:0.5em 1.2em;
            color:$white;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
            a {
            color:darken($white,10%);
            &:hover{
                background-color:lighten($midnight, 20%);
            }
            }
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
            background-color: lighten($midnight, 10%)

        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            // margin-left: 20px;
        }
    // }
}



/**
 * Site footer
 */

.footer-line {
    border-top:4px solid $red;
    height:0.2em;
    margin-top:2em;
}

.site-footer {
    background:$midnight;
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    .wrapper{
        max-width:100%;
        @include flexbox;
        @include flex-direction(row); 
        @include media-query($on-laptop) {
            @include flex-direction(column);
        }
        @include justify-content(space-around);
        // @extend %clearfix;
        .footer-col{
            @include flexbox;
            @include justify-content(center);
            padding-left:0;
            padding-right:0;
        }

    }
}

// .site-footer {
//     .wrapper{
//         @include media-query($on-laptop) {
//            @include flex-direction(row); 
//         }
//     }
// }

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    @include flexbox;
    list-style: none;
    margin-left: 0;
    li{
        margin:0 0.5em;
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
    &:nth-child(1) {
        @include align-self(flex-start);
        @include media-query($on-laptop) {
           @include align-self(center); 
        }
    }
    &:nth-child(2) {
        @include align-self(center);
    }
    &:nth-child(3) {
        @include align-self(flex-end);
        @include media-query($on-laptop) {
           @include align-self(center); 
        }
    }
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.bottom-of-the-barrel {
    font-family: "Futura PT",Helvetica,Arial,sans serif;
    font-weight: 800;
    font-size: 1.5em;
    color: lighten($midnight, 5%);
}

.logo.jt-logo.footer {
            svg {
            height:75px;
            path { 
                fill: lighten($midnight, 10%);
            }
        }
}

.icon--instagram {
    transition:all 1s ease-in-out;
    &:hover {
        > svg {

        path, ellipse { 
            fill:$green;  
            } 
        }
       
    }
}

.icon--dribbble {
    transition:all 1s ease-in-out;
    &:hover {
        > svg {

        path, ellipse { 
            fill:#ea4c89;  
            } 
        }
       
    }
}

.logo.jt-logo.footer {
            svg {
            height:75px;
            path { 
                fill: lighten($midnight, 10%);
            }
        }
}

.icon--instagram {
    transition:all 1s ease-in-out;
    &:hover {
        > svg {

        path, ellipse { 
            fill:$green;  
            } 
        }
       
    }
}

.icon--dribbble {
    transition:all 1s ease-in-out;
    &:hover {
        > svg {

        path, ellipse { 
            fill:#ea4c89;  
            } 
        }
       
    }
}

.icon--twitter {
    transition:all 1s ease-in-out;
    &:hover {
        > svg {

        path, ellipse { 
            fill:#55acee;  
            } 
        }
       
    }
}

.icon--github {
    transition:all 1s ease-in-out;
    &:hover {
        > svg {

        path, ellipse { 
            fill:#4078c0;  
            } 
        }
       
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: $base-font-size;
    font-weight:bold;
    color:$midnight;
    &:visited, &:hover{
        text-decoration: none;
        color:lighten($midnight, 10%);
    }
}



/**
 * Posts
 */
.post-header {
    margin-bottom: 1em;
}

.post-title {
    font-size: 42px;
    letter-spacing: 1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

img {
    margin-bottom:1em;
}

/** Lists **/

.art-list, .podcast-list {
    @include flexbox;
    @include align-items(center);
    @include flex-wrap(wrap);
    list-style: none;
    margin-left:0;
    margin:0.4em;
    @include media-query($on-laptop) {
        @include flex-direction(column);
    }
    li{
        width:32%;
        margin:0.4em auto;
        &:nth-child(3n){
            margin-left:0;
        }
        @include justify-content(center);
        text-align: center;
        @include media-query($on-laptop) {
            width:100%;
        }
        &:first-child{
            margin-left:0;
        }
        &:last-child{
            margin-right:0;
        }
        img{
            max-height:150px;
            padding: 5px;
            background-color: white;
            box-shadow: 0 1px 2px rgba(0,0,0,0.07);
            @include media-query($on-laptop) {
                max-height:100%;
            }
        }
    }
}


.home-case-studies {
    ul{
    display: flex;
    // flex-direction: column;
    margin-left: 30px;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-align-content: stretch;
    align-content: stretch;
    height: 250px;
        @include media-query($on-laptop) {
                    height:100%;
        }
    }
}

