.portfolio-gameboy {
    width: 98%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    border: 8px solid #547E3C;
    background: #D7E797;
    padding: 2em 0.25em;
    padding-top: 3.25em;
    -webkit-box-shadow: 10px 10px 0px 1px rgba(34,70,49,1);
    -moz-box-shadow: 10px 10px 0px 1px rgba(34,70,49,1);
    box-shadow: 10px 10px 0px 1px rgba(34,70,49,1);
    margin-bottom:1em;
    @include media-query($on-desk){
        width: 26.5625em;
        height:470px;
        float:left;
        margin-left:2em;
        margin-right:2em;
    }

}

.portfolio-gbTitle {
    font-family: $header-font-family;
    font-size: 1.25em;
    text-align: center;
    color: #547E3C;
    margin: 0.25em 0.75em;
    /*margin-bottom: 2.5em;*/
    text-transform: uppercase;
    @include media-query($on-desk){
        font-size:1.5rem;
    }
}

.portfolio-inProgress {
    font-family: $header-font-family;
    font-size: 1.25em;
    text-align: center;
    color: #547E3C;
    margin: 0.25em 0.75em;
    -webkit-animation: blink_text 1s infinite; /* Chrome, Safari, Opera */
    animation: blink_text 1s  infinite;

}
.portfolio-gbList {
    li {
        font-family: $header-font-family;
        font-size:1.125em;
        line-height:2;
        color:#547E3C;
        text-align:center;
            &:before, &:after{
                padding:0 5px;
                content: "-";
            }
    }
    list-style: none;
    margin:0 auto;
    padding:0;
    margin-bottom:2em;
    width:90%;
}

.gbButtons {
    width:80%;
    margin: 0 auto;
    @include media-query($on-desk){
        width:100%;
        margin: 0 auto;
        height:75px;
    }
    

}

.portfolio-gbButton {
    width: 95%;
    text-align: center;
    background: #547E3C;
    border-radius: 5px;
    text-decoration: none;
    color: #D7E797;
    font-family: $header-font-family;
    font-size: 1em;
    padding: 1em 0.5em;
    float: left;
    margin: 1em auto;
        &:hover{
            border:4px dotted #d7e797;
            color:#d7e797;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box; 
            box-sizing: border-box;
        }
        &:first-child{
            margin-left:1.25em;
        }
    @include media-query($on-desk){
        width:40%;
        margin:0;
        margin-right:0.625em;
    }
}



.portfolio-item {
    float: left;
    background-image: url("/assets/img/computer.png");
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.portfolio {

    padding:0 0.75em;
    margin-bottom:1.5em;
}

.pixel_box{
    display:block;
    width:90%;
    margin: 0 auto;
    overflow: hidden;
    max-height: 16em;
    @include media-query($on-bigmobile){
        float:left;
        width:25%;
        -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    
        &:hover .hover-area, &:hover .portfolio_pixelArt{
            -webkit-transform: translateY(-50px);
            -moz-transform: translateY(-50px);
            /*-0-transform: translateY(-50px);*/
            transform: translateY(-50px);
            -webkit-transform:translate3d(0,1,0);
            transform:translate3d(0,1,0);
        }
    }


}



.hover-area{
    @include media-query($on-bigmobile){
        height:50px;
        width:90%;
        line-height:20px;
        margin:0 auto;
        border-top:4px solid tomato;
        background:white;
        border-radius:0 0 0.10em 0.10em;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        transition: all .2s ease-out;
    }
}

.portfolio_pixelArt {
        img {
            position:relative;
            max-height:110%;
            max-width:none;
            left:50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
        }
    width:85%;
    height:15em;
    overflow:hidden;
    margin:1em auto;
    margin-bottom:0;
    background-color:white;
    border-radius:0.25em;
    line-height:0;
    @include media-query($on-bigmobile){
            width:90%;
            border-radius:0.25em 0.25em 0 0;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            transition: all .2s ease-out;
            
    }
}

    .title, .subtitle {
        color: #494848;
        font-family: $base-font-family;
        font-weight: 300;
    }
    .title{
        margin-left: 0.5em;
        font-size: 1.2em;
        margin-top: 0.25em;
    }

    .subtitle{
        margin-left:1em;
        font-size:0.75em;
    }

/** NEW PORTFOLIO AREA**/
.port-area {
  width:100%;
  display:flex;
  flex-direction:column;
  margin:0 auto;
}

.low-poly img[alt^="pixel art"] {
  display:none;
} /****Do this and you'll be able to segment the shots into their tags****/
.pixel-art img[alt^="low poly"] {
  display:none;
}

.low-poly, .pixel-art {
    img {
        width:90%;
        align-self:center;
    @include media-query($on-desktop){
      width:250px;
    }
      transition:0.2s ease-in;
        &:hover {
            @include smallShadow;
        }
    }

}

.shots{
    display:flex;
    flex-direction: column;
        @include media-query($on-desktop){
        flex-direction: row;
        }
    li{
        list-style: none;
            @include media-query($on-desktop){
            margin:0 5%;
        }
    } 
}