.projects {
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-wrap(wrap);
    max-width: 752px;
    margin:0 auto;
    margin-bottom:2.5em;
    @include media-query($on-palm) {
        @include justify-content(center);
    }
    li {
        @include flex-direction(column);
        @include smallShadow;
        text-align:center;
        width:240px;
        height:240px;
        border:0.5px solid $grey-color-light;
        margin-bottom:1em;
        transition:all 0.5s ease-in-out;
             &:focus, &:hover {
                @include linkShadow;
            }
        img{
            background:$grey-color-light;
            width:100%;
            // padding:20px 10px;
            box-sizing:border-box;
            border-bottom:1px solid $grey-color-light;
            height:186px;
        }
        .post-link {
                font-size:18px;
                line-height:20px;
                @include align-items(center);
                @include flexbox;
                @include flex-direction(column);
                    &:focus, &:hover {
                        text-decoration:none;
                    }

            }
        h4{
            padding-top: 0.5em;
            font-weight:500;
            letter-spacing:0.5px;
            margin-bottom:0;
            @include align-self(center);
            @include justify-content(center);
                &:focus, &:hover {
                    text-decoration: none;
                }
        }
    }
}

.pod-date{
    float:right;
}

.pod-list {
    list-style-type: none;
    margin-left:0;
    li{
        margin-bottom:1.5em;
    }
    h4{
        margin-bottom:0.5em;
    }
}