<html lang="en">
	<head>
		<title>Design Daddy Soundboard</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.min.js" crossorigin></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.min.js" crossorigin></script>
		<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
		<script type="text/babel"src="assets/scripts/soundboard.js"></script>
		<!-- <script src="scripts/soundboard.js"></script> -->
		
		<link rel="stylesheet" href="assets/style/soundboard.css">
	</head>
	<body>
		<div id="root"></div>
	</body>
	<footer>
		<p>
				Design Daddy is <a href="joshtregenza.com">Josh Tregenza</a>
		</p>
		<p>
			Special Thanks to <a href="https://twitter.com/christianhoward">Christian Howard</a> 
		</p>

		<p>
				Photo Credit | Instagram- <a href="https://www.instagram.com/gbarkz/?hl=en">@gbarkz</a>  Twitter-<a href="https://twitter.com/gbarkz">@gbarkz</a> 
		</p>
	</footer>
</html>